.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        d
      %ul.main-header__left-box__member-list
        Member :
        %li.main-header__left-box__member-lift-member 222
    =link_to "#" do
      %div.main-header__edit-btn Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box__text",placeholder:  "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image')
          = f.file_field :image
      = f.submit 'Send', class: 'submit_btn'